@import url('https://fonts.googleapis.com/css2?family=Chela+One&display=swap');

:root {
    --cor-de-fundo:#634D65;
    --amarelo-escuro:#00ff55;
    --parte-cabecalho:rgba(38, 0, 255, 0.5);
    --ciano:rgba(85, 236, 200, 0.86);
    --cor-relogio:rgb(238, 255, 0);
    --cor-dia-hora:rgb(255, 0, 247);
}

body {
    background: linear-gradient(to top, var(--amarelo-escuro) 20%, var(--parte-cabecalho) 75%,rgb(104, 31, 199) 85%);
    margin: 0;
    height: 100vh;
  }

.botao {
    background: linear-gradient(to bottom, var(--amarelo-escuro), var(--ciano));
    font-family: 'Chakra Peth', sans-serif;
    color: red;
}

.botao:hover {
    background: linear-gradient(to top, var(--amarelo-escuro) 20%, var(--parte-cabecalho) 75%);
    
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal {
    text-align: left;
    width: 100%;
    font-size: 32px;
}

.titulo-principal span {
    background: linear-gradient(to top, var(--amarelo-escuro) 20%, var(--parte-cabecalho) 75%);
}

.botao{
    font-family: 'Chakra Petch', sans-serif;
    color: #FFFF;
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--amarelo-escuro);
    border-left: 2px solid var(--amarelo-escuro);
    border-right: 2px solid var(--amarelo-escuro);
    border-top: none;
    }
   
.botao:first-child{
    border-radius: 40px 40px 0 0
    }

    .botoes{
    display: block;
    }

@media screen and (min-width: 768px) {
    .botoes{
    display: flex;
    }

.botao:first-child{
    border-radius: 40px 0 0 0
    }
    
.botao:last-child{
    border-radius: 0 40px 0 0;
    }
}
.botao:hover {
    color: #fff;
    transition:5s;
        transition: opacity 100ms linear;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
        
  }
